<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
      <connectionStrings>
        <add name="StockManagerDB"
             connectionString="Server=NAHUEL-WINDOWS\SQLEXPRESS;Database=StockManagerDB;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
      </connectionStrings>
    
    <appSettings>
        <!-- Logging Configuration -->
        <add key="LogDirectory" value="Logs" />
        <add key="LogFilePrefix" value="StockManager" />
        
        <!-- Localization Configuration -->
        <add key="DefaultLanguage" value="es" />
        
        <!-- Application Settings -->
        <add key="ApplicationName" value="Stock Manager" />
        <add key="Version" value="1.0.0" />
    </appSettings>
</configuration>
